*{
    box-sizing: border-box;
}
img{ width:100%;}

.greyText {
    color: grey;
    /*opacity: .08;*/
}

.black{
    color: black;
}

.bigtext {
    background: url('../img/background.jpg');
    height: 300px;
    background-position: center;
    font-size: 45px;
    color: white;
    text-align:center;
    padding-top: 20px;
}
.greenBkg{
    background: green;
    color: white;
}
.blueBkg {
    background: navy;
    color: white;
}
.blackBkg {
    background: black;
    color: white;
}
 li {
     border: 1px solid rgb(205, 204, 201);
     background: rgb(233, 237, 240);
     padding: 5px;
 }

li > button {
     border-radius: 15px;
 }

 .bigFont{
     font-size: 45px;
 }

footer{
    color: white;
    background-color: black;
    text-align: center;
}
